div {
	background-color: #373636
	}
	
body {
	background-color: #000000
	}
	
#main {
	background-color: #FFFFFF;
	border: 2px solid;
	border-radius:15px;
	}
	
h1 {
	color: #FFFFFF
	}
	
p	{
	color: #990000
	}