<?xml version="1.0" encoding="UTF-8" ?>
	<widget xmlns		= "http://www.w3.org/ns/widgets"
		xmlns:gap		= "http://phonegap.com/ns/1.0"
		xmlns:android	= "http://schemas.android.com/apk/res/android"
		id = "HY69V2SUMQ.com.apps.murdertogo"
		version = "1.0.0" >
		
	<name>Murder To Go</name>
	
	<description>
		test app
	</description>
	<access origin="*"/>
	<!--- core plugins --->
	<gap:platform name="ios" />
	<gap:platform name="android" />
	
	
	<preference name="UTWebViewBounce" value="false" />
	<preference name="DisallowOverscroll" value="true" />
</widget>